.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;

  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;

  font-weight: 700;
  border-radius: 60px;
}
.button_transparent {
  width: 250px;
  background-color: white;
  border: 2px solid #003459;
  color: #003459;
}
.button_blue {
  display: flex;
  background-color: #003459;
  color: white;
  border: none;
}
.button__icon,
.button__text {
  margin: 12px;
}
.button__icon {
  margin-top: 20px;
}
