* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100%;
}
@font-face {
  font-family: "SVN-Gilroy", "Arial", sans-serif;
  src: url("../fonts/SVN-GilroyBold.woff2"), url("../fonts/SVN-GilroyBold.woff");
  font-style: normal;
  font-weight: 700;
  color: #003459;
}
.footer {
  display: block;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #fceed5;
}
.footer_reg {
  width: 90%;
  margin: 5%;
  padding: 1%;
  background-color: #003459;
  color: white;
  border-radius: 16px;
}
.footer_reg,
.input_heading,
.footer_form {
  margin: 5%;
}
.input_heading {
  margin: 5%;
  font-size: 1.2rem;
}
.footer_form,
.input_heading,
.input_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer_form {
  background-color: white;
  border-radius: 14px;
}
.input_button,
.input_reg {
  align-content: center;
  width: 90%;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 8px;
}
.input_button {
  margin: 1% 4% 5% 4%;
}
.input_reg {
  margin: 5% 5% 1% 5%;
}
.input_button {
  width: 92%;
  background-color: #003459;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5%;
}
.footer__nav_link {
  font-size: 1rem;
  color: #003459;
  margin: 5%;
}
.footer_contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 25%;
}
.footer_contacts_img {
  width: 100%;
  margin: 2%;
}
